venv/
__pycache__/
 *.pyc
.vscode
.DS_Store

backend/db.sqlite3
backend/static/admin
backend/static/rest_framework
backend/static/django_extensions

backend/media/**/**/*.*
!backend/media/website/research/cover_field.*
!backend/media/website/news/cover_news.*
!backend/media/website/people/cover_person.*
!backend/media/website/people/pic_default.*

frontend/.DS_Store
frontend/node_modules
frontend/dist
frontend/.browserslistrc
frontend/README.md

backupDB/

# local env files
frontend/.env.local
frontend/.env.*.local

# Log files
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# Editor directories and files
frontend/.idea
frontend/.vscode
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
