{% extends 'base.html' %}

{% block html %}

<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no"">
    <title>printing</title>
  <script defer src="http://127.0.0.1:8080/js/chunk-vendors.js"></script><script defer src="http://127.0.0.1:8080/js/app.js"></script></head>
  <body>
  
  	{% block body %}
  		{{ block.super }}
  	{% endblock %}
      
    <!-- built files will be auto injected -->
  </body>
</html>

{% endblock %}
